<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="container" class="d-flex flex-column">
    <div>
     
    </div>
    <div>
      
      <%= yield %>
    </div>
    <section>
      </br>
      </br>
    </section>
    
  </body>
</html>
